# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# testing
/coverage

# production
/build
/data/
/backups/

# misc
.DS_Store
*.pem

# debug
.codex-runtime/

# env files (can opt-in for committing if needed)
.env*
!.env.example
